# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ github-actions ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    - name: Helm tool installer
      uses: Azure/setup-helm@v1
    
    - name: Set up Helm Push
      run: helm plugin install https://github.com/chartmuseum/helm-push.git
    
    - name: Configure Helm repo
      run: helm repo add --username=$HELM_USERNAME --password=#HELM_PASSWORD library http://34.87.54.235:80/chartrepo/library

    - name: Push chart
      run: helm push . library
